.google{
	font-family: 'Varela', Arial, sans-serif;}
	
	
.nudge_relative{position:relative;
}

.nudge_absolute{
	position:absolute;
	margin-bottom:100px;
	left: 5px;
	top: 609px;
}




h1 { font-family: 'Varela', Arial, sans-serif; 
	font-weight: 400;
	font-size: 20px;
	color:#2F2D28;}
	
	
h2 {
	font-family: 'Varela', Arial, sans-serif;
	font-weight: 400;
	font-size: 12px;
	color:#2F2D28;
}

h3 {
	font-family: 'Varela', Arial, sans-serif;
	font-weight: 400;
	font-size: 17px;
	color:#2F2D28;
}

h4 {
	font-family: 'Varela', Arial, sans-serif;
	font-weight: 400;
	font-size: 10px;
	color:#2F2D28;
}


h5 {
	font-family: 'Varela', Arial, sans-serif;
	font-weight: 400;
	font-size: 10px;
	color:#626262;
}



#main_container {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

				
				#main_nav {
					height: 35px;
					width: 870px;
					padding-right: 21px;
					padding-left: 21px;
					border-top-width: 1px;
					border-top-style: solid;
					border-top-color: #cdd9e6;
					margin-right: auto;
					margin-left: auto;
					margin-bottom: 30px;
				}
				
				#secondary_nav {
				height: 35px;
				width: 870px;
				padding-right: 21px;
				padding-left: 21px;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-bottom-color: #cdd9e6;
				margin-right: auto;
				margin-left: auto;
				clear: both;
							}



								
								
								#home_nav {
									border-right-width: 0px;
									border-left-width: 1px;
									border-left-style: solid;
									border-left-color: #cdd9e6;
									float: left;
								}
								
								#back_nav {
									border-right-width: 0px;
									border-left-width: 1px;
									border-left-style: solid;
									border-left-color: #cdd9e6;
									float: left;
								}
								
								#forward_nav {
									border-right-width: 0px;
									border-left-width: 1px;
									border-left-style: solid;
									border-left-color: #cdd9e6;
									float: left;
								}
								
								#video_nav {
									border-right-width: 0px;
									border-left-width: 1px;
									border-left-style: solid;
									border-left-color: #cdd9e6;
									float: left;
								}
								
								#digital_nav {
									border-right-width: 0px;
									border-left-width: 1px;
									border-left-style: solid;
									border-left-color: #cdd9e6;
									float: left;
								}
								
								#print_nav {
									border-right-width: 0px;
									border-left-width: 1px;
									border-left-style: solid;
									border-left-color: #cdd9e6;
									float: left;
								}
								
								
															
								#photos_nav {
									border-right-width: 1px;
									border-right-style: solid;
									border-right-color: #cdd9e6;
									border-left-width: 1px;
									border-left-style: solid;
									border-left-color: #cdd9e6;
									float: left;
								}

								
								
								
								#ux_nav {
									border-right-width: 1px;
									border-right-style: solid;
									border-right-color: #cdd9e6;
									border-left-width: 1px;
									border-left-style: solid;
									border-left-color: #cdd9e6;
									float: left;
								}


						
						
						
						
						
															#mail_nav {
																border-right-width: 0px;
																border-left-width: 1px;
																border-left-style: solid;
																border-left-color: #cdd9e6;
																float: left;
															}
															
															
															
															#resume_nav {
																border-right-width: 0px;
																border-left-width: 1px;
																border-left-style: solid;
																border-left-color: #cdd9e6;
																float: left;
															}
															
															
															#twitter_nav {
																border-right-width: 0px;
																border-left-width: 1px;
																border-left-style: solid;
																border-left-color: #cdd9e6;
																float: left;
															}
															
															
															#linkedin_nav {
																border-right-width: 0px;
																border-left-width: 1px;
																border-left-style: solid;
																border-left-color: #cdd9e6;
																float: left;
															}
															
															
															#blog_nav {
																border-right-width: 0px;
																border-left-width: 1px;
																border-left-style: solid;
																border-left-color: #cdd9e6;
																float: left;
															}
															
															
															#emptya_nav {
																border-right-width: 0px;
																border-left-width: 1px;
																border-left-style: solid;
																border-left-color: #cdd9e6;
																float: left;
															}
															
															
															#emptyb_nav {
																border-right-width: 1px;
																border-right-style: solid;
																border-right-color: #cdd9e6;
																border-left-width: 1px;
																border-left-style: solid;
																border-left-color: #cdd9e6;
																float: left;
															}













#left_nav {
	width: 205px;
	margin-top: 40px;
	margin-left: 20px;
	float: left;
	font-size: 11px;
	text-decoration: none;
	line-height: 24px;
}



#big_pic_text {
	height: 100px;
	font-size: 15px;
	margin-top: 500px;
}


#big_pic_text_cde {
	height: 100px;
	font-size: 15px;
	margin-top: 620px;
}


#big_pic_video {
	height: 100px;
	font-size: 15px;}

#big_pic_text_long {
	font-size: 15px;
	margin-bottom: 10px;
}

#big_pic_marriott {
	font-size: 15px;
	margin-bottom: 30px;
	margin-left: 230px;
}
#hargray_container {
	margin-top: 50px;
	margin-left: 100px;
}
#marriott_container {
	margin-top: 50px;
}
