@charset "UTF-8";
/* CSS Document */

h1 { font-family: 'Varela', Arial, sans-serif; 
	font-weight: 400;
	font-size: 20px;
	color:#2F2D28;}
	
	
h2 {
	font-family: 'Varela', Arial, sans-serif;
	font-weight: 400;
	font-size: 12px;
	color:#2F2D28;
}

h3 {
	font-family: 'Varela', Arial, sans-serif;
	font-weight: 400;
	font-size: 10px;
	color:#2F2D28;
}




#main_nav_container {
	background-image: url(images/headerimage.jpg);
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 870px;
	height: 36px;
	z-index:1
}

#bottom_nav_container {
	background-image: url(images/bottom_nav_image.jpg);
	height: 36px;
	width: 870px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
}
#main_content_for_image {
	background-color: #CCC;
	height: 550px;
	width: 700px;
	margin-top: 25px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
}
#main_content_for_text {
	margin-right: auto;
	margin-left: auto;
	width: 700px;
	margin-bottom:30px;
	
}
#item_nav {
		width:100px
	left: 20px;
	top: 300px;
	float:left;
	}
	
#container {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	float:right;
}
